<a href="https://colab.research.google.com/github/Sudar1612/Ridge_Reg/blob/main/Ridge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/umangkejriwal1122/Youtube/master/Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
x = data.iloc[:,0].values  ## input(features)
y = data.iloc[:,1].values  ## output(target)

In [ ]:
x = x.reshape(-1,1)
y = y.reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

In [ ]:
from sklearn.linear_model import Ridge
model = Ridge()

In [ ]:
model.fit(xtrain,ytrain)

Ridge()

In [ ]:
y_predict=model.predict(xtest)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_predict,ytest)

0.9651270098753655